body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-group {
    visibility: hidden;
}


.table tr:hover .btn-group {
    visibility: visible;
}

.table tbody > tr > td {
    vertical-align: middle;
}
