<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4 class="text-center">Atenção!</h4>
    <p class="text-center">
        Por se tratar de uma hospedagem paga, a inclusão nesta demo é limitada à 20 registros!
        <br />
        Exclua alguns registros para poder adicionar novamente.
    </p>
</div>